<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.common.dao.StudentMapper" >

    <select id="queryById" resultType="com.sojson.common.model.Student">
        select * from student where sId = #{id}
    </select>

  
  <update id="updateById">
      UPDATE student SET sWechatId ='${openid}'WHERE sId = '${id}';
  </update>

    <select id="queryByClassName" resultType="com.sojson.common.model.StudentCourses">
        SELECT
       cc.`cSession`, c.`courseName`, c.`classRoomName`, t.`tName`,t.`tId`
        FROM
      course c,
      cour_class cc, teacher t
    WHERE c.`cId` = cc.`cId`
      AND cc.`className` like "%${className}%"
      AND cc.`tId` = t.`tId`
      and cc.cWeek = "${week}";
    </select>
  
  <select id="queryByOpenId" resultType="com.sojson.common.model.Student">
      select * from student where sWechatId = '${openId}'
  </select>

    <select id="queryByClassNameForT" resultType="com.sojson.common.model.Student">
            select * from student where className = "${className}"

    </select>

    <update id="updateIsChecked">
        UPDATE ${tableName} SET isChecked = 1 WHERE sId = '${sId}';
    </update>


</mapper>
