<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.common.dao.TeacherMapper" >

    <select id="queryById" resultType="com.sojson.common.model.Teacher">
        select * from teacher where tId = #{id}
    </select>

  
  <update id="updateById">
      UPDATE teacher SET tWechatId ='${openid}'WHERE tId = '${id}';
  </update>

    <select id="queryByIdWeek" resultType="com.sojson.common.model.TeacherCourses">
        SELECT cc.`cSession`, c.`courseName`, cc.`className`, c.`classRoomName`
         FROM cour_class cc, course c
         WHERE tId = '${tId}'
         AND cc.`cId` = c.`cId`
         And cc.cWeek = '${week}';
    </select>

    <update id="createNewTable" parameterType="String">
		create table ${tableName} (
							sId int,
							sName varchar (50),
							className varchar(55),
							isChecked int)
	</update>

    <update id="dropTable">
		drop table ${tableName}
	</update>

    <insert id="insertStudent">
        insert into ${tableName} (sId, sName, className, isChecked)
        values (${sId}, '${sName}', '${className}', ${isChecked})
    </insert>

    <select id="queryStudents" resultType="integer">
        SELECT COUNT(*) FROM ${tableName} WHERE isChecked = 1;
    </select>

    <select id="checkResult" resultType="com.sojson.common.model.Student">
        select * from ${tableName} where isChecked = 0
    </select>

    <update id="updateResign">
        update ${tableName} set isChecked = 1 where sId = '${sId}'
    </update>
    <select id="existTable" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA='crsdb' AND TABLE_NAME='${tableName}' ;
	</select>
    <select id="queryByOpenid" resultType="com.sojson.common.model.Teacher">
        select * from teacher where tWechatId = '${openid}'
    </select>

    <update id="updateParticiCnt">
        UPDATE student, ${tableName} SET student.particiCnt = student.particiCnt+1 WHERE  ${tableName}.`sId` = student.`sId` AND  ${tableName}.`isChecked` = 0;
    </update>

    <select id="checkIsUpdated" resultType="int">
        select isChecked from ${tableName} where sId = '${sId}'
    </select>



  
  
  
  


</mapper>
